{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <main class="cards-div">
    {% for product in products %}
      <div class="product-card">
        <img class="product-card-image" src="{{ product.image.url }}" alt="{{ product.name }}" />
        <div class="product-name-price">
          <p class="product-card-name">{{ product.name }}</p>
          <p class="product-card-price">{{ product.price }}$</p>
        </div>
        <form style="width: 100%;" action="/cart/" method="post"><button class="product-card-buy">Buy</button></form>
      </div>
    {% endfor %}
    <h2 class="text-4xl font-black font-mono text-red-800">Hossein</h2>
  </main>
{% endblock %}
